<!--マイページ 18P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>マイページ</strong></h4>
    </div>
  </div>

  <!--部分テンプレート：会員情報詳細(プロフィール)-->
  <%= render 'admin/customers/show', customer: @customer %>

</div>
