料理投稿詳細ページ 27P

<div class="container">
  <div class="row pt-5">
    <h4><strong>料理投稿詳細</strong></h4>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col-4">
      <div><%= image_tag @cooking_post.get_cooking_post_image(200, 200) %></div>
    </div>
    <div class="col-8">
      <table>
        <tbody>
          <tr>
            <td><label>料理名：<%= @cooking_post.name %></label></td>
            <td><label>投稿者：<%= @customer.name %></label></td>
          </tr>
          <tr>
            <td><label>紹介文</label></td>
            <td><%= @cooking_post.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

