<!--家庭内食材一覧ページ 6P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>家庭内食材一覧</strong></h4>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-md-9 text-right">
      <%= link_to "新規登録", new_home_food_path, class: "btn btn-outline-success", style: "font-weight: bold;" %>
    </div>
  </div>

  <div class="row my-4">

    <!--ジャンル検索フォーム（部分テンプレート）-->
    <div class="col-md-2">
      <%= render 'genre', genres: @genres %>
    </div>

    <!--家庭内食材一覧の表（部分テンプレート）-->
    <div class="col-md-9 mx-auto">
      <%= render 'index', home_foods: @home_foods %>
    </div>

  </div>

  <!--部分テンプレート：ページネーション-->
  <div class="row">
    <div class="col">
      <%= render 'admin/food_strage_areas/pagenation', pages: @home_foods %>
    </div>
  </div>

</div>
