<!--Aboutページ 2P-->
<div class="container">
  <div class="justify-content-center p-5 text-center d-flex flex-column align-items-center">

    <div class="row">
      <h1 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>About</strong></h1>
    </div>

    <div class="row">
      <h5 class="mt-3">
        フードロス削減アプリケーションでは、<br><br>
        食材の管理やその食材を使った料理の投稿を行うことができます。<br><br>
        また、食材の保存場所もまとめております。<br><br>
        ゲストログインでお使いいただける機能は、「みんなの投稿一覧の閲覧」と「食材保存場所一覧の閲覧」のみです。<br><br>
        全ての機能をお使いいただくためには、会員登録が必要となりますので、ご注意ください。<br><br>
        食材の意図せぬ廃棄を減らすために、ぜひご活用ください。
      </h5>
    </div>

    <div class="row justify-content-center flex-column mt-5">

        <div>
          <h5 class="d-inline px-3" style="border-bottom: 1px solid;"><strong>ログインなしでアクセス可能な機能</strong></h5>
          <ul class="pt-1" style="list-style: none;">
            <li>Aboutページの閲覧</li>
            <li>トップページの閲覧</li>
            <li>トップページに表示される最新4件の料理投稿詳細</li>
            <li>ログイン/新規登録機能</li>
          </ul>
        </div>
        <div>
          <h5 class="d-inline px-3" style="border-bottom: 1px solid;"><strong>ゲストユーザーとしてログインした際にアクセス可能な機能</strong></h5>
          <ul class="pt-1" style="list-style: none;">
            <li>みんなの投稿一覧/詳細ページの閲覧</li>
            <li>食材保存場所一覧ページの閲覧</li>
            <li>ログアウト機能</li>
          </ul>
        </div>
        <div>
          <h5 class="d-inline px-3" style="border-bottom: 1px solid;"><strong>会員としてログインが必須な機能</strong></h5>
          <ul class="pt-1" style="list-style: none;">
            <li>会員一覧/詳細ページの閲覧</li>
            <li>自分の投稿一覧ページの閲覧</li>
            <li>料理の新規投稿/編集/削除機能</li>
            <li>家庭内食材一覧ページの閲覧能</li>
            <li>家庭内食材の新規登録/編集/削除機能</li>
            <li>マイページ/マイプロフィール編集ページの閲覧</li>
            <li>マイプロフィール編集機能</li>
            <li>退会機能</li>
            <li>通知機能</li>
          </ul>
        </div>

    </div>

  </div>
</div>
