<!--Aboutページ 2P-->
<div class="container">
  <div class="row justify-content-center p-5 text-center d-flex flex-column align-items-center">
    <h1><strong>About</strong></h1>
    <h5 class="mt-3">
      フードロス削減アプリケーションでは、<br><br>
      食材の管理やその食材を使った料理の投稿を行うことができます。<br><br>
      また、食材の保存場所もまとめております。<br><br>
      ゲストログインでお使いいただける機能は、「みんなの投稿一覧の閲覧」と「食材保存場所一覧の閲覧」のみです。<br><br>
      全ての機能をお使いいただくためには、会員登録が必要となりますので、ご注意ください。<br><br>
      食材の意図せぬ廃棄を減らすために、ぜひご活用ください。
    </h5>
    <div class="mt-5">
      <h4>ログインなしでアクセス可能な機能</h4>
      <h5>
        Aboutページの閲覧<br>
        トップページの閲覧<br>
        トップページに表示される最新4件の料理投稿詳細<br>
        ログイン/新規登録機能<br>
      </h5>
      <h4 class="mt-2">ゲストユーザーとしてログインした際にアクセス可能な機能</h4>
      <h5>
        みんなの投稿一覧/詳細ページの閲覧<br>
        食材保存場所一覧ページの閲覧<br>
        ログアウト機能<br>
      </h5>
      <h4 class="mt-2">会員としてログインが必須な機能</h4>
      <h5>
        会員一覧/詳細ページの閲覧<br>
        自分の投稿一覧ページの閲覧<br>
        料理の新規投稿/編集/削除機能<br>
        家庭内食材一覧ページの閲覧<br>
        家庭内食材の新規登録/編集/削除機能<br>
        マイページ/マイプロフィール編集ページの閲覧<br>
        マイプロフィール編集機能<br>
        退会機能<br>
        通知機能<br>
      </h5>
    </div>
  </div>
</div>
