<!--トップページ 1P-->
<div class="container">

  <div class="row justify-content-center p-5 text-center d-flex flex-column align-items-center">
    <h3 class="d-inline px-3"><strong>Welcome!</strong></strong></h3>
    <h5 class="mt-3">
      当アプリは、フードロス削減のためのアプリケーションです。<br><br>
      ゲストログインでお気軽にご利用いただけますが、<br><br>
      家庭にある食材管理や料理を投稿するためには会員登録が必要になります。<br><br>
      また、当アプリケーションは予告なく終了します。
    </h5>
  </div>

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>最新の料理投稿</strong></h4>
    </div>
  </div>

  <div class="row pt-3 justify-content-center">
    <% @cooking_posts.first(4).each do |cooking_post| %>

      <% unless cooking_post.customer.is_active == false %> <!--退会している会員でなければ表示-->
        <div class="text-center">
          <%= link_to cooking_post_path(cooking_post), style: "color: black; text-decoration: underline;" do %>
            <div><%= image_tag cooking_post.get_cooking_post_image(200, 200) %></div>
            <p><%= cooking_post.name %></p>
          <% end %>
        </div>
      <% end %>

    <% end %>
  </div>

</div>