<!--会員情報詳細ページ 23P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong><%= @customer.name %>さんの会員詳細</strong></h4>
    </div>
  </div>

  <!--部分テンプレート：会員情報詳細(プロフィール)-->
  <%= render 'show', customer: @customer %>

</div>
