<!--みんなの投稿一覧ページ 12P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>みんなの投稿一覧</strong></h4>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-md-10 text-right">
      <%= render 'search', content: @content, condition: @condition %> <!--部分テンプレート：キーワード検索フォーム-->
    </div>
  </div>

  <!--部分テンプレート：料理の投稿一覧-->
  <div class="row my-4">
    <div class="col-md-9 mx-auto">
      <%= render 'index', cooking_posts: @cooking_posts %>
    </div>
  </div>

  <!--部分テンプレート：ページネーション-->
  <div class="row">
    <div class="col">
      <%= render 'admin/food_strage_areas/pagination', pages: @cooking_posts %>
    </div>
  </div>

</div>
