<!--料理投稿詳細ページ 15P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>料理投稿詳細</strong></h4>
    </div>
  </div>

  <!--部分テンプレート：料理投稿詳細-->
  <div class="row pt-3">
    <%= render 'admin/cooking_posts/show', cooking_post: @cooking_post, customer: @customer %>
  </div>

</div>
