<!--通知一覧ページ 5P-->
<div class="container">

  <div class="row py-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>通知一覧</strong></h4>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-9 mx-auto">
      <div class="table-responsive">
        <% if @near_expiry_home_foods.any? || @near_best_before_home_foods.any? %>

          <table class="table">
            <thead class="font-weight-bold" style="background-color: #dfdfdf;">
              <tr class="text-center">
                <th>内容</th>
                <th>消費期限/賞味期限</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @near_expiry_home_foods.each do |home_food| %>
                <tr class="text-center">
                  <td style="background-color: #fafafa;"><%= home_food.name %>の消費期限が２日後に切れます</td>
                  <td style="background-color: #fafafa;"><%= home_food.expiration_date %></td>
                  <td style="background-color: #fafafa;">
                    <div class="mr-3" style="display: inline-block;">
                      <%= link_to "既読", mark_as_read_notifications_path(home_food), class: "btn btn-sm btn-success", style: "font-weight: bold;" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <% else %>
          <p>現在、期限が近い食材はありません。</p>
        <% end %>

      </div>
    </div>
  </div>

  <!--ページネーション-->
  <div class="row">
    <div class="col">
      <%= paginate @near_expiry_home_foods, class: "pagination" %>
    </div>
  </div>

</div>
