<!--通知一覧ページ 5P-->
<div class="container">

  <div class="row py-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>通知一覧</strong></h4>
    </div>
  </div>

  <div class="row justify-content-center py-3">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="border-bottom: 1px solid;">～近日公開予定～</h4>
    </div>
  </div>
  
  
  
  <% @notifications.each do |notification| %>
    <div>
      <p><%= notification.message %></p>
      <p>Created at: <%= notification.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    </div>
  <% end %>


</div>
