<!--食材保存場所一覧ページ 10P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>食材保存場所一覧</strong></h4>
    </div>
  </div>

  <!--部分テンプレート：食材保存場所一覧-->
  <div class="row my-4">
    <div class="col-md-6 mx-auto">
      <%= render 'admin/food_strage_areas/index', food_strage_areas: @food_strage_areas %>
    </div>
  </div>

  <!--部分テンプレート：ページネーション-->
  <div class="row">
    <div class="col">
      <%= render 'admin/food_strage_areas/pagination', pages: @food_strage_areas %>
    </div>
  </div>

</div>
