<!--食材保存場所一覧ページ 10P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>食材保存場所一覧</strong></h4>
    </div>
  </div>

  <!--このページの説明文-->
  <div class="row py-2 justify-content-center">
    <div class="py-2 px-3 text-center food-storage-description">
      <h6>
        食材の保存方法に迷ったときはこちらをご覧ください。
        冷蔵・冷凍・常温、どれが最適かがすぐにわかります。<br>
        *〇o正しい方法で保存し、食材を長持ちさせましょうo〇*
      </h6>
    </div>
  </div>


  <!--部分テンプレート：食材保存場所一覧-->
  <div class="row my-4">
    <div class="col-md-6 mx-auto">
      <%= render 'admin/food_strage_areas/index', food_strage_areas: @food_strage_areas %>
    </div>
  </div>

  <!--ページネーション-->
  <div class="row">
    <div class="col">
      <%= paginate @food_strage_areas, class: "pagination" %>
    </div>
  </div>

</div>
