食材保存場所一覧ページ 10P

<div class="container">
  <div class="row pt-5">
    <h4><strong>食材保存場所一覧</strong></h4>
  </div>
  <div class="row pt-3 justify-content-center">
    <table>
      <thead>
        <tr>
          <th>食材名</th>
          <th>保存場所</th>
        </tr>
      </thead>
      <tbody>
        <% @food_strage_areas.each do |food_strage_area| %>
          <tr>
            <td><%= food_strage_area.name %></td>
            <td><%= food_strage_area.place %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <%= paginate @food_strage_areas, class: "pagination" %>
    </div>
  </div>
</div>
