<!--食材保存場所一覧ページ 10P-->
<div class="container">

  <div class="row pt-5">
    <div class="col-md-5 text-center">
      <h4 class="d-inline px-3" style="background-color: #dfdfdf;"><strong>食材保存場所一覧</strong></h4>
    </div>
  </div>

   <div class="row my-4">
    <div class="col-md-9 mx-auto">
      <div class="table-responsive">
        <table class="table">
          <thead class="font-weight-bold" style="background-color: #dfdfdf;">
            <tr>
              <th>食材名</th>
              <th>保存場所</th>
            </tr>
          </thead>
          <tbody>
            <% @food_strage_areas.each do |food_strage_area| %>
              <tr>
                <td><%= food_strage_area.name %></td>
                <td><%= food_strage_area.place %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div style="display: flex; justify-content: center;">
        <%= paginate  @food_strage_areas, class: "pagination" %>
      </div>
    </div>
  </div>

</div>
